@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    /* overflow: auto; */
}
.mainBody{
    display: flex;
    width: 100vw;
}
.leftSide{
    border-right: 2px solid lightgray;
    display: flex;
    flex-direction: column;
    /* background-color: lightgray; */
    width: 23vw;
}
.logo{
    font-size: 45px;
    color: rgb(29, 155, 240);
    margin: 3vw;
    cursor: pointer;
}
.icon{
    margin: 15px 10px 5px 20px;
}
.SideNavItem{
    display: flex;
    align-items: baseline;
    font-size: 25px;
    font-family: 'Baloo 2', cursive;
    cursor: pointer;
}
.SideNavItem:hover{
    color: rgb(29, 155, 240);    
}
.SideNavItem:active{
    color: rgb(29, 155, 240);    
}
.roundBorder{
    border-radius: 25px;
    font-size: 15px;
    font-family: 'Baloo 2', cursive;
}
.sideNavTweetButton{
    display: flex;
    justify-content: center;
    margin: 15px 0px;
}
.bigButton{
    width: 18vw;
}
.mainContent{
    /* background-color: gray; */
    width: 54vw;
    height: 100vh;
    border-right: 2px solid lightgray;
    overflow: auto;
}
.mainContent .header{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid lightgray;
}
.sectionOpened span{
    font-size: 30px;
    font-family: 'Baloo 2', cursive;
    padding: 5px 25px;
}
.staricon{
    position: relative;
}
.colornSize{
    color: rgb(29, 155, 240);
    font-size: 25px;
    padding: 5px 25px;
    cursor: pointer;
}
.profileImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px 15px 0px 10px;
    cursor: pointer;
}
.tweetInput{
    border: none;
    background-color: transparent;
    outline-width: 0px;
}
.tweetOptions{
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    align-items: center;
    position: relative;
    bottom: 15px;
}
.tweetIcons{
    padding-left: 70px;
}
.tweet{
    border-bottom: 10px solid lightgray;
}
.posts{
    border-bottom: 2px solid lightgray;
}
.profileName{
    position: relative;
    bottom: 5px;
    right: 8px;
    font-size: 17px;
    font-family: 'Baloo 2', cursive;
}
.username{
    position: relative;
    bottom: 5px;
    right: 8px;
    color: gray;
    font-size: 12px;
}
.message{
    padding: 0px 0px 5px 80px;
    text-align-last: left;
    position: relative;
    bottom: 15px;
    font-size: 19px;
    font-weight: 500;
}
.postoptions{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    padding: 5px 25px;
}
.postoption{
    color: gray;
    cursor: pointer;
}
.postoption:hover{
    color: rgb(29, 155, 240);
}
.hashtag{
    cursor: pointer;
    color: rgb(29, 155, 240);
}
.postimg{
    border-radius: 25px;
    width: 85%;
    margin: 0px 5px 5px 60px;
}
.rightSide{
    /* background-color: lightgray; */
    width: 23vw;
    height: 100vh;
}
.headerInput{
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px;
    border-radius: 999px;
}
.headerInput input{
    border: none;
    background-color: transparent;
    outline-width: 0px;
}
.newsPortion{
    background-color: #f0f0f0;
    margin: 10px 10px 0px 10px;
    border-radius: 25px;
}
.newsHeader span{
    font-size: 30px;
    font-family: 'Baloo 2', cursive;
    padding: 5px 5px 0px 5px;
    border-bottom: 2px solid lightgray;
}
.new1,.new2{
    border-bottom: 2px solid lightgray;
}
.news{
    padding: 5px 5px 0px 5px;
    color: gray;
}
.newsHeading{
    font-size: 17px;
    font-family: 'Baloo 2', cursive;
    padding: 5px 5px 0px 5px;
}
.borderedNews{
    border: 2px solid lightgray;
    border-radius: 15px;
    margin: 15px;
}
.showMore{
    color:rgb(29, 155, 240);
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    margin: 15px 15px;
}
